
<div class="side-header">
  <div class="side-header-name">
    <%=link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="side-header-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-main">
  <div class="side-main-rooms">
    <div class="side-main-room">
      <a href="#">テストルーム</a>
    </div>
  </div>  
  <div class="side-main-rooms">
    <div class="side-main-room">
      <a href="#">テストルーム</a>
    </div>
  </div>  
</div>
