
<div class="side-header">
  <div class="side-header-name">
    <a href="#">Tom</a>
  </div>
  <div class="side-header-chat">
    <a href="#">チャットルーム作成</a>
  </div>
</div>
<div class="side-main">
  <div class="side-main-rooms">
    <div class="side-main-room">
      <a href="#">テストルーム</a>
    </div>
  </div>  
  <div class="side-main-rooms">
    <div class="side-main-room">
      <a href="#">テストルーム</a>
    </div>
  </div>  
</div>
